@import './partials/variables';
@import './partials/reset';
@import './partials/global';
@import './partials/mixin';

@import './partials/header';
@import './partials/main';
@import './partials/card';
@import './partials/single';
@import './partials/footer';
