* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Encode Sans Condensed", sans-serif;
}

body {
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.lbl {
  position: absolute;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 700;
  color: #f1f1f1;
  background-color: #0282F9;
  top: -1.5rem;
  left: 1rem;
}

.btn-primary {
  background-color: #0282F9;
  color: #f1f1f1;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  border: 0;
  display: block;
  margin: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.btn-primary:hover {
  background-color: #43a4ff;
}

.btn-footer {
  background-color: transparent;
  color: #f1f1f1;
  padding: 0.75rem;
  text-transform: uppercase;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border: 2px #0282F9 solid;
  display: block;
  margin: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.btn-footer:hover {
  background-color: #0282F9;
}

header {
  padding: 0 0.5rem;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-grow: 0;
}
header .container nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 0;
}
header .container nav a {
  text-transform: uppercase;
  color: #464646;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  margin: 0 0 0 2rem;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.3rem transparent solid;
}
header .container nav a:hover {
  border-bottom: 0.3rem #0282F9 solid;
  color: #0282F9;
}
header .container nav .active {
  border-bottom: 0.3rem #0282F9 solid;
  color: #0282F9;
}
header .container img {
  height: 5rem;
  width: 5rem;
  display: block;
  margin: 1rem 0;
}

main {
  background-color: #1C1C1C;
  color: #f1f1f1;
}
main #jumbotron {
  height: 25rem;
}
main #jumbotron img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
main #comics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 2rem 0.5rem;
  gap: 1rem;
  position: relative;
}
main #blue-icons {
  background-color: #0282F9;
  padding: 2.5rem 0.5rem;
  color: #f1f1f1;
  font-size: 0.8rem;
  text-transform: uppercase;
}
main #blue-icons .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 0;
}
main #blue-icons .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 0;
}
main #blue-icons .icon img {
  margin: 0.5rem;
  width: 3rem;
  height: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
}

article {
  width: calc(16.6666666667% - 1rem);
}
article a {
  color: #f1f1f1;
}
article img {
  width: 100%;
}
article .comic-title {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
article .comic-price {
  color: #999;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

#blue-banner {
  background-color: #0282F9;
  height: 4rem;
}
#blue-banner .container {
  position: relative;
  height: 100%;
}
#blue-banner .container .single-thumb {
  width: 12rem;
  height: 18rem;
  position: absolute;
  bottom: 1rem;
  left: 0;
  border: 1px #f1f1f1 solid;
}
#blue-banner .container .single-thumb img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#single {
  background-color: #fff;
  padding: 4rem 0;
}
#single .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 0;
}
#single .container .right {
  margin-left: 2rem;
}
#single .container p {
  color: #555;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
#single .container h1 {
  color: #003F5E;
  text-transform: uppercase;
}
#single .container .green-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 0;
  background-color: #55BA59;
  margin: 1.2rem 0;
  font-weight: 700;
  border-bottom: 1px #357739 solid;
  font-size: 0.9rem;
}
#single .container .green-wrap > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 0;
  width: 100%;
  padding: 1rem;
  border-right: 1px #357739 solid;
}
#single .container .green-wrap > div .green-label {
  color: #B0FD9C;
}
#single .container .green-wrap > div .green-price {
  color: #f1f1f1;
}
#single .container .green-wrap > div .green-availability {
  color: #B0FD9C;
  text-transform: uppercase;
}
#single .container .green-wrap select {
  margin: 0 1rem;
}

#comic-data {
  background-color: #F6F6F6;
  padding: 1.5rem 0;
  border-top: 2px #E3E3E3 solid;
}
#comic-data .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 0;
}
#comic-data .container .data-left, #comic-data .container .data-right {
  width: 50%;
}
#comic-data .container .data-left {
  margin-right: 2rem;
}
#comic-data .container .data-right {
  margin-left: 2rem;
}
#comic-data .container .data-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 0;
  padding: 1rem 0;
  border-top: 1px #E3E3E3 solid;
}
#comic-data .container .data-row:last-child {
  border-bottom: 1px #E3E3E3 solid;
}
#comic-data .container h3 {
  color: #003F5E;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
#comic-data .container .comic-data-title {
  display: block;
  color: #003F5E;
  font-weight: 600;
  font-size: 0.9rem;
  flex-shrink: 0;
}
#comic-data .container .comic-data-content {
  display: block;
  color: #003F5E;
  font-size: 0.9rem;
  width: 75%;
}
#comic-data .container .comic-data-blue {
  font-size: 0.9rem;
  color: #00A9D9;
  width: 75%;
}

footer {
  background-image: url("/images/footer-bg.jpg");
}
footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 0;
  padding: 2rem 0.5rem;
  background-image: url("/images/dc-logo-bg.png");
  background-position: right center;
  background-repeat: no-repeat;
}
footer > div img {
  -o-object-fit: cover;
     object-fit: cover;
}
footer nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 0;
  color: #f1f1f1;
  max-height: 400px;
}
footer nav h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 0;
  margin: 0 2rem 1rem 0;
  font-size: 0.75rem;
}
footer a {
  display: block;
  padding: 0.25rem 0;
  color: #959595;
  text-transform: capitalize;
}
footer a:hover {
  color: #fff;
}
footer #social-bar-wrapper {
  background-color: #303030;
  padding: 2rem 0.5rem;
}
footer #social-bar-wrapper .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 0;
}
footer #social-bar-wrapper .container nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 0;
}
footer #social-bar-wrapper .container nav h2 {
  color: #0282F9;
  text-transform: uppercase;
  margin-right: 1rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}
footer #social-bar-wrapper .container nav a:hover {
  filter: brightness(1.5);
}
footer #social-bar-wrapper .container nav img {
  display: block;
  margin: 0.5rem;
}