article {
   width: calc(100% / 6 - 1rem);

   a {
      color: $main-text-color;
   }

   img {
   width: 100%;
   }

   .comic-title {
   text-transform: uppercase;
   font-size: 0.9rem;
   margin-top: 0.5rem;
   }

   .comic-price {
   color: #999;
   font-size: 0.75rem;
   margin-top: 0.25rem;
   }
}
