@import './_variables.scss';
@import './_mixin.scss';

main {
   background-color: $main-bkg-color;
   color: $main-text-color;

   #jumbotron {
      height: 25rem;
      img {
         object-fit: cover;
         object-position: top;
         height: 100%;
         width: 100%;
      }
   }

   #comics {
      @include flex(row, center, stretch, wrap, 1);
      padding: 2rem 0.5rem;
      gap: 1rem;
      position: relative;
   }

   #blue-icons {
      background-color: $primary-color;
      padding: 2.5rem 0.5rem;
      color: $main-text-color;
      font-size: 1rem;
      text-transform: uppercase;

      .container {
         @include flex(row, space-between, center, wrap);
      }

      .icon {
         @include flex();

         img {
            margin: 0.5rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
         }
      }
   }
}



